/*** Bits ***/

/*** Clear ***/
.group:after { content: ""; display: table; clear: both; }

/*** Images ***/
.icon {
  width: 256px;
  height: 256px;
  margin: 0 14px 10px 0;
  display: inline;
  float: left;
}

/*** Positioning ***/
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;

}