footer {
  margin: 15px 0 25px 0;
  padding: 10px 0 100px 0;
  font-size: 0.75em;
  color: rgba(230, 230, 230, 0.2);
  border-top: 1px solid rgba(230, 230, 230, 0.2);
}

footer a {
  color: rgba(230, 230, 230, 0.2);
}

.copyright {
  float: left;
}

.footer-nav {
  float: right;
}

.footer-nav a {
  margin-left: 5px;
}

.footer-nav:last-child {
  margin: 0;
}