/*** GLobal Styles ***/

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

img, object { 
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $lightGrey;
}

a:hover {
  color: darkGrey;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(bottom, rgb(55,59,62) 0%, rgb(65,82,90) 66%);
  background-image: -o-linear-gradient(bottom, rgb(55,59,62) 0%, rgb(65,82,90) 66%);
  background-image: -moz-linear-gradient(bottom, rgb(55,59,62) 0%, rgb(65,82,90) 66%);
  background-image: -webkit-linear-gradient(bottom, rgb(55,59,62) 0%, rgb(65,82,90) 66%);
  background-image: -ms-linear-gradient(bottom, rgb(55,59,62) 0%, rgb(65,82,90) 66%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(55,59,62)),
    color-stop(0.66, rgb(65,82,90))
  );
  background-attachment: fixed;
}

.wrap {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}

.content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}