header {
  width: 100%;
  margin: 20px auto 0;
}

header img {
  margin: 0 auto;
}

.main-nav {
  width: 100%;
  height: 2.5em;
  margin: 6% auto 10px;
}

.main-nav a {
  color: #eee;
  display: inline-block;
  line-height: 2.5em;
  margin: auto 0;
  width: 25%;
  float: left;
  text-align: center;
  vertical-align: middle;
  background: $darkBlue;
  transition: background .125s ease-out;
  -moz-transition: background .125s ease-out;
  -webkit-transition: background .125s ease-out;
}

.main-nav a:hover {
  color: $lightGrey;
  text-decoration: none;
  background: $green;
}

.main-nav a:last-child {
  margin: 0;
}