 @media screen and (max-width: 1024px){
  .main-image { margin: 0 0 10px 0; float: none; width: 100%; }
  .support-image { float: none; display: none; }
  .wrap { width: 90%; }
  .project { min-height: 250px; }
  .icon { width: 200px; height: 200px; }
 }

@media screen and (max-width: 799px){
  // Global
  body { font-size: 1em; }
  .main-nav a { font-size: .8em; }
  .wrap { width: 95%; }

  // Footer
  footer { min-height: 30px; padding: 5px 0 10px 0; }

  // Typography
  h1 { font-size: 1.3em; }

  // Projects & Work
  .project { min-height: 100px; position: static; }
  .main-image { margin: 0 0 10px 0; float: none; width: 100%; }
  .support-image {  float: none; width: 100%; }
  .project-link { 
    margin: 15px 0 5px 0;
    display: block;
    float: none; 
    position: static;
  }

  .icon { 
    margin: 0 10px 0px 0; 
    width: 100px; 
    //  max-width: 100%;
    height: 100px; 
    display: block; 
  }
 }