.post {
  margin: 25px 0 15px 0;
  padding: 3px;
}

.post:first-child {
  margin: 0;
}

.post-title {
  padding-bottom: 2px;
  margin-bottom: 10px;
  transition: background .0125s ease-out;
  -moz-transition: background .0125s ease-out;
  -webkit-transition: background .0125s ease-out;

  transition: color .0125s ease-in;
  -moz-transition: color .0125s ease-in;
  -webkit-transition: color .0125s ease-in;
}

.post-title:hover {
  // border-bottom: 1px solid $green;
  background: $green;
  color: $lightGrey;
}

.post-title {
  text-decoration: none;
  color: $salmon;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.post p {
  margin: 0;
  padding: 0;
}