.project {
  width: 100%;
  min-height: 300px;
  position: relative;
}

.project h1 {
  margin: 0 0 10px 0;
  font-weight: 400;
}

.project-images {
  width: 100%;
}

.project-link {
  color: $salmon;
}

.main-image {
  width: 66%;
  float: left;
  margin: 0 1.49892934% 0 0;
}

.support-image {
  width: 32.11991435%;
  margin: 0 0 1.49892934% 0;
  float: left;
  display: inline-block;
}

.project-images:last-child {
  margin: 0;
}

.other-projects {
  list-style: disc;
  margin: 0 0 0 30px;
}

.other-projects li {
  margin: 5px 0 5px 0;
}

hr {
  margin: 20px 0;
}