/* Global */

* { margin: 0; padding: 0; box-sizing: border-box; }
img { max-width: 100%; }
.clear { clear: both; }
a { text-decoration: none; color: #e6e0d7; }
a:hover { text-decoration: underline; color: #e5e5e5; }
.group:after { content: ""; display: table; clear: both; }
body { 
  font-size: 18px;
  font-family: sans-serif;
  color: #e3dcdc;
  background-image: linear-gradient(bottom, rgb(42,50,52) 47%, rgb(41,49,51) 74%);
  background-image: -o-linear-gradient(bottom, rgb(42,50,52) 47%, rgb(41,49,51) 74%);
  background-image: -moz-linear-gradient(bottom, rgb(42,50,52) 47%, rgb(41,49,51) 74%);
  background-image: -webkit-linear-gradient(bottom, rgb(42,50,52) 47%, rgb(41,49,51) 74%);
  background-image: -ms-linear-gradient(bottom, rgb(42,50,52) 47%, rgb(41,49,51) 74%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.47, rgb(42,50,52)),
    color-stop(0.74, rgb(41,49,51))
  );
}

/* Page Styles */

.wrap {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}

header {
  width: 100%;
  margin: 0 auto;
}

header img {
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 2.5em;
  margin: 6% auto 10px;
}

nav a {
  color: #eee;
  display: inline-block;
  line-height: 2.5em;
  margin: auto 0;
  width: 25%;
  float: left;
  text-align: center;
  vertical-align: middle;
  background: rgb(96,108,136);
  background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1)));
  background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  background: -o-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  background: -ms-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );

}

nav a:hover {
/*  color: #222;*/
  color: rgb(63,76,107);
  text-decoration: none;
  background: -moz-linear-gradient(top,  rgba(96,108,136,0.25) 0%, rgba(63,76,107,0.35) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,0.25)), color-stop(100%,rgba(63,76,107,0.35)));
  background: -webkit-linear-gradient(top,  rgba(96,108,136,0.25) 0%,rgba(63,76,107,0.35) 100%);
  background: -o-linear-gradient(top,  rgba(96,108,136,0.25) 0%,rgba(63,76,107,0.35) 100%);
  background: -ms-linear-gradient(top,  rgba(96,108,136,0.25) 0%,rgba(63,76,107,0.35) 100%);
  background: linear-gradient(to bottom,  rgba(96,108,136,0.25) 0%,rgba(63,76,107,0.35) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40606c88', endColorstr='#593f4c6b',GradientType=0 );
}

nav a:last-child {
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

/*hr {
  margin: 20px auto 10px auto;
  width: 80%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(229,229,229,0), rgba(229,229,229,0.75), rgba(229,229,229,0)); 
  background-image:    -moz-linear-gradient(left, rgba(229,229,229,0), rgba(229,229,229,0.75), rgba(229,229,229,0)); 
  background-image:     -ms-linear-gradient(left, rgba(229,229,229,0), rgba(229,229,229,0.75), rgba(229,229,229,0)); 
  background-image:      -o-linear-gradient(left, rgba(229,229,229,0), rgba(229,229,229,0.75), rgba(229,229,229,0)); 
}*/

/*hr {
  margin: 50px auto 10px auto;
  height: 10px;
  width: 60%;
  background: #eee;
  border: none;
}*/

.post {
  margin: 25px 0 150px 0;
  padding: 3px;
}

.post:first-child {
  margin: 0;
}

.post-title {
  padding-bottom: 2px;
  margin-bottom: 10px;
  padding: 3px;
}

.post-title:hover {
  /*background: -moz-linear-gradient(top,  rgba(96,108,136,0.25) 0%, rgba(63,76,107,0.35) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,0.25)), color-stop(100%,rgba(63,76,107,0.35)));
  background: -webkit-linear-gradient(top,  rgba(96,108,136,0.25) 0%,rgba(63,76,107,0.35) 100%);
  background: -o-linear-gradient(top,  rgba(96,108,136,0.25) 0%,rgba(63,76,107,0.35) 100%);
  background: -ms-linear-gradient(top,  rgba(96,108,136,0.25) 0%,rgba(63,76,107,0.35) 100%);
  background: linear-gradient(to bottom,  rgba(96,108,136,0.25) 0%,rgba(63,76,107,0.35) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40606c88', endColorstr='#593f4c6b',GradientType=0 );*/
  border-bottom: 1px solid #e3dcdc;
}

.post-title a {
  text-decoration: none;
}

.post-title a:hover {
  color: #222;
}

.post p {
  margin: 0;
  padding: 0;
}

footer {
  margin: 15px 0 0 0;
  padding: 10px 0 10px 0;
  font-size: 0.2em;
  color: #222;
  border-top: 1px solid #eee;
}

/*** Media Queries ***/

@media all and (min-width: 799px) {
  body {
    font-size: 20px;
  }
}

@media all and (max-width: 480px) {
  body {
    font-size: 16px;
  }
}