/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***Colors ***/
/* line 9, ../sass/_colors.scss */
.salmon {
  color: #9c6f62;
}

/*** Bits ***/
/*** Clear ***/
/* line 4, ../sass/_bits.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*** Images ***/
/* line 7, ../sass/_bits.scss */
.icon {
  width: 256px;
  height: 256px;
  margin: 0 14px 10px 0;
  display: inline;
  float: left;
}

/*** Positioning ***/
/* line 16, ../sass/_bits.scss */
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 1, ../sass/_typography.scss */
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.15;
  color: #e6e6e6;
}

/* line 9, ../sass/_typography.scss */
h1 {
  font-size: 1.5em;
}

/*** GLobal Styles ***/
/* line 3, ../sass/_global.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../sass/_global.scss */
img, object {
  max-width: 100%;
}

/* line 13, ../sass/_global.scss */
a {
  text-decoration: none;
  color: #e6e6e6;
}

/* line 18, ../sass/_global.scss */
a:hover {
  color: darkGrey;
}

/* line 22, ../sass/_global.scss */
html {
  height: 100%;
}

/* line 26, ../sass/_global.scss */
body {
  height: 100%;
  background-image: linear-gradient(bottom, #373b3e 0%, #41525a 66%);
  background-image: -o-linear-gradient(bottom, #373b3e 0%, #41525a 66%);
  background-image: -moz-linear-gradient(bottom, #373b3e 0%, #41525a 66%);
  background-image: -webkit-linear-gradient(bottom, #373b3e 0%, #41525a 66%);
  background-image: -ms-linear-gradient(bottom, #373b3e 0%, #41525a 66%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #373b3e), color-stop(0.66, #41525a));
  background-attachment: fixed;
}

/* line 44, ../sass/_global.scss */
.wrap {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}

/* line 51, ../sass/_global.scss */
.content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* line 1, ../sass/_head.scss */
header {
  width: 100%;
  margin: 20px auto 0;
}

/* line 6, ../sass/_head.scss */
header img {
  margin: 0 auto;
}

/* line 10, ../sass/_head.scss */
.main-nav {
  width: 100%;
  height: 2.5em;
  margin: 6% auto 10px;
}

/* line 16, ../sass/_head.scss */
.main-nav a {
  color: #eee;
  display: inline-block;
  line-height: 2.5em;
  margin: auto 0;
  width: 25%;
  float: left;
  text-align: center;
  vertical-align: middle;
  background: #373b3e;
  transition: background 0.125s ease-out;
  -moz-transition: background 0.125s ease-out;
  -webkit-transition: background 0.125s ease-out;
}

/* line 31, ../sass/_head.scss */
.main-nav a:hover {
  color: #e6e6e6;
  text-decoration: none;
  background: #3c766c;
}

/* line 37, ../sass/_head.scss */
.main-nav a:last-child {
  margin: 0;
}

/* line 1, ../sass/_posts.scss */
.post {
  margin: 25px 0 15px 0;
  padding: 3px;
}

/* line 6, ../sass/_posts.scss */
.post:first-child {
  margin: 0;
}

/* line 10, ../sass/_posts.scss */
.post-title {
  padding-bottom: 2px;
  margin-bottom: 10px;
  transition: background 0.0125s ease-out;
  -moz-transition: background 0.0125s ease-out;
  -webkit-transition: background 0.0125s ease-out;
  transition: color 0.0125s ease-in;
  -moz-transition: color 0.0125s ease-in;
  -webkit-transition: color 0.0125s ease-in;
}

/* line 22, ../sass/_posts.scss */
.post-title:hover {
  background: #3c766c;
  color: #e6e6e6;
}

/* line 28, ../sass/_posts.scss */
.post-title {
  text-decoration: none;
  color: #9c6f62;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* line 38, ../sass/_posts.scss */
.post p {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/_work.scss */
.project {
  width: 100%;
  min-height: 300px;
  position: relative;
}

/* line 7, ../sass/_work.scss */
.project h1 {
  margin: 0 0 10px 0;
  font-weight: 400;
}

/* line 12, ../sass/_work.scss */
.project-images {
  width: 100%;
}

/* line 16, ../sass/_work.scss */
.project-link {
  color: #9c6f62;
}

/* line 20, ../sass/_work.scss */
.main-image {
  width: 66%;
  float: left;
  margin: 0 1.49893% 0 0;
}

/* line 26, ../sass/_work.scss */
.support-image {
  width: 32.11991435%;
  margin: 0 0 1.49893% 0;
  float: left;
  display: inline-block;
}

/* line 33, ../sass/_work.scss */
.project-images:last-child {
  margin: 0;
}

/* line 37, ../sass/_work.scss */
.other-projects {
  list-style: disc;
  margin: 0 0 0 30px;
}

/* line 42, ../sass/_work.scss */
.other-projects li {
  margin: 5px 0 5px 0;
}

/* line 46, ../sass/_work.scss */
hr {
  margin: 20px 0;
}

/* line 1, ../sass/_footer.scss */
footer {
  margin: 15px 0 25px 0;
  padding: 10px 0 100px 0;
  font-size: 0.75em;
  color: rgba(230, 230, 230, 0.2);
  border-top: 1px solid rgba(230, 230, 230, 0.2);
}

/* line 9, ../sass/_footer.scss */
footer a {
  color: rgba(230, 230, 230, 0.2);
}

/* line 13, ../sass/_footer.scss */
.copyright {
  float: left;
}

/* line 17, ../sass/_footer.scss */
.footer-nav {
  float: right;
}

/* line 21, ../sass/_footer.scss */
.footer-nav a {
  margin-left: 5px;
}

/* line 25, ../sass/_footer.scss */
.footer-nav:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  /* line 2, ../sass/_mq.scss */
  .main-image {
    margin: 0 0 10px 0;
    float: none;
    width: 100%;
  }

  /* line 3, ../sass/_mq.scss */
  .support-image {
    float: none;
    display: none;
  }

  /* line 4, ../sass/_mq.scss */
  .wrap {
    width: 90%;
  }

  /* line 5, ../sass/_mq.scss */
  .project {
    min-height: 250px;
  }

  /* line 6, ../sass/_mq.scss */
  .icon {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 799px) {
  /* line 11, ../sass/_mq.scss */
  body {
    font-size: 1em;
  }

  /* line 12, ../sass/_mq.scss */
  .main-nav a {
    font-size: .8em;
  }

  /* line 13, ../sass/_mq.scss */
  .wrap {
    width: 95%;
  }

  /* line 16, ../sass/_mq.scss */
  footer {
    min-height: 30px;
    padding: 5px 0 10px 0;
  }

  /* line 19, ../sass/_mq.scss */
  h1 {
    font-size: 1.3em;
  }

  /* line 22, ../sass/_mq.scss */
  .project {
    min-height: 100px;
    position: static;
  }

  /* line 23, ../sass/_mq.scss */
  .main-image {
    margin: 0 0 10px 0;
    float: none;
    width: 100%;
  }

  /* line 24, ../sass/_mq.scss */
  .support-image {
    float: none;
    width: 100%;
  }

  /* line 25, ../sass/_mq.scss */
  .project-link {
    margin: 15px 0 5px 0;
    display: block;
    float: none;
    position: static;
  }

  /* line 32, ../sass/_mq.scss */
  .icon {
    margin: 0 10px 0px 0;
    width: 100px;
    height: 100px;
    display: block;
  }
}
/* line 1, ../sass/_animation.scss */
.fade {
  transition: background 0.125s ease-out;
  -moz-transition: background 0.125s ease-out;
  -webkit-transition: background 0.125s ease-out;
}
